/*渝东北区样式*/

        /*内容*/ 
        #south .content .con-top{
             background-image: url(../image/northeast/bg_yudongbei@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
        }
        #south .con-top .con-top-left{         
            flex:1;
            height:100%;
        }
        #south .con-top .con-top-center{
            flex:1;
            height:100%;
            margin: 0 0.2rem;
        }
        #south .con-top .con-top-right{
            flex:1;
            height:100%;       
        }
        #south .con-top-left div{
            width:100%;
        }
        #south .con-top-left .upper{          
            background: url(../image/southeast/bg_leftlower_ydn@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
            margin-top: 1.5rem;
            margin-bottom: 0.8rem;
            margin-left: 2.6rem;
            height: 34%;
            width: 2.8rem;
        }
        #south .con-top-left .lower{
            background: url(../image/southeast/bg_leftlower_ydn@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
            height: 24%;
            width: 40%;
            margin-left: 0.4rem;
            position: relative;
            padding: 0.2rem;
            position: relative;
         
        }  
        #south .lower .main-title-text{
            position: absolute;
            top: 0;
            left: 0.1rem;
        }
        
        #south .lower .map-bg{
            width: 100%;
            height: 100%;
            background: url(../image/home/img_map_other4@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;     
            position: relative;          
        }  
        /*闪烁地图*/
        #south .lower .imgjump{        
            width: 49%;
            height: 59%;
            position: absolute;
            top: 41%;
            left: 34%;
        }
      
        #south .con-top-center .mapmsgbg{
            position: relative;
            height: calc(100% - 1rem);
            margin:0.5rem 0rem;
            background-image: url(../image/southeast/map_yudongnan@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
        }

        #south .con-top-right .right-bg{
            background: url(../image/southeast/bg_right2@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
            height: 50%;
            width: 70%;
            margin: 1.8rem 1.3rem 0.5rem 0.5rem;       
        }
        #south .con-top-right .right-bg div{
            padding: 0.2rem 0.4rem 0 0.4rem;
            color:#fff;
        }
        /*左边框复制一份*/
        #south .con-top-left .upper div{
            padding: 0.2rem 0.4rem 0 0.4rem;
            color:#fff;
        }
        
        /*地图标的*/
        #south .mapmsgbg{
            position: relative;
        }
        #south .mapmsgbg span{
            font-size: 0.16rem;
            color: #00F1FD;
            position: absolute;
            top: 0.26rem;
            left: -0.5rem;
            width: 1.2rem;
            text-align: center;
        }
        /*单独定位*/
       
        #south .mapmsgbg p{
            position: relative;
            width:0.18rem;
            height: 0.18rem;
            background:#00F1FD;             
            border-radius: 50%;
        }
        #south .mapmsgbg p i{
            font-style: normal;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top:-0.07rem;
            margin-left:-0.07rem;
            width:0.1rem;
            height: 0.1rem;        
            background:#F8E71C;     
            border-radius: 50%;
        }
        /*标的颜色*/
        #south .flagone i {
            border: 0.02rem solid  #484491;
        }          
        #south .mapmsgbg .flagone{
            position: absolute;
            top: 50%;
            left: 50%;
        }
             
      /*降落flag定位*/
      #south .mapmsgbg div img{
            width:0.2rem;
            position: absolute;
            top: -0.4rem;
        }
        #south .mapmsgbg .moveflag-one {
        position: absolute;
        top:16%;
        left: 55%;
      }
      #south .moveflag-two {
        position: absolute;
        top:47%;
        left: 75%;
      }
      #south .moveflag-three {
        position: absolute;
        top:85%;
        left: 85%; 
      }
      #south .moveflag-four {
        position: absolute;
        top:47%;
        left: 55%;
      }
      #south .moveflag-five {
        position: absolute;         
        top:67%;
        left: 75%;
      }
      #south .moveflag-six {
        position: absolute;
        top:33%;
        left: 17%;
      }
      #south .moveflag-seven {
        position: absolute;
        top:45%;
        left: 31%;
      }
      
