/*渝西区样式*/

        /*内容*/ 
       #west .content .con-top{
             background-image: url(../image/northeast/bg_yudongbei@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
        }
        #west .con-top .con-top-left{         
            flex:1;
            height:100%;
        }
        #west .con-top .con-top-center{
            flex:2;
            height:100%;
            margin: 0 0.2rem;
        }
        #west .con-top .con-top-right{
            flex:1;
            height:100%;       
        }
        #west .con-top-left div{
            width:100%;
        }
        #west .con-top-left .upper{          
            background: url(../image/west/bg_leftupper4@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
            margin-top: 0.5rem;
            margin-bottom: 0.3rem;
            margin-left: 1.2rem;
            height: 55%;
            width: 2.8rem;
        }
        #west .con-top-left .lower{
            background: url(../image/west/bg_leftlower_yuxi@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
            height: 24%;
            width: 40%;
            margin-left: 0.4rem;
            position: relative;
            padding: 0.2rem;
            position: relative;
         
        }  
        #west .lower .main-title-text{
            position: absolute;
            top: 0;
            left: 0.1rem;
        }
        
        #west .lower .map-bg{
            width: 100%;
            height: 100%;
            background: url(../image/home/img_map_other4@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;     
            position: relative;          
        }  
        /*闪烁地图*/
        #west .lower .imgjump{        
            width: 45%;
            height: 49%;
            position: absolute;
            top: 43%;
            left: 0%;
        }
      
        #west .con-top-center .mapmsgbg{
            position: relative;
            height: calc(100% - 1rem);
            margin:0.5rem 0rem;
            background-image: url(../image/west/map_yuxiqu@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
        }

        #west .con-top-right .right-bg{
            background: url(../image/west/bg_right3@2x.png);
            background-size:100% 100%;
            background-repeat: no-repeat;
            height: 80%;
            margin:0.5rem;       
        }
        #west .con-top-right .right-bg div{
            padding: 0.2rem 0.4rem 0 0.4rem;
            color:#fff;
        }
        /*左边框复制一份*/
        #west .con-top-left .upper div{
            padding: 0.2rem 0.4rem 0 0.4rem;
            color:#fff;
        }
        
        /*地图标的*/
        #west  .mapmsgbg{
            position: relative;
        }
        #west .mapmsgbg span{
            font-size: 0.16rem;
            color: #fff;
            position: absolute;
            top: 0.26rem;
            left: -0.5rem;
            width: 1.2rem;
            text-align: center;
        }
       
        #west .mapmsgbg p{
            position: relative;
            width:0.18rem;
            height: 0.18rem;
            background:#fff;             
            border-radius: 50%;
        }
        #west .mapmsgbg p i{
            font-style: normal;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top:-0.07rem;
            margin-left:-0.07rem;
            width:0.1rem;
            height: 0.1rem;        
            background:#F8E71C;     
            border-radius: 50%;
        }
        /*标的颜色*/
        #west .flagone i {
            border: 0.02rem solid  #484491;
        }          
        #west .mapmsgbg .flagone{
            position: absolute;
            top: 50%;
            left: 50%;
        }
             
      /*降落flag定位*/
      #west .mapmsgbg div img{
            width:0.2rem;
            position: absolute;
            top: -0.4rem;
        }
        #west .mapmsgbg .moveflag-one {
        position: absolute;
        top:16%;
        left: 46%;
      }
      #west .moveflag-two {
        position: absolute;
        top:24%;
        left: 31%;
      }
      #west  .moveflag-three {
        position: absolute;
        top:43%;
        left: 39%; 
      }
      #west .moveflag-four {
        position: absolute;
        top:63%;
        left: 40%;
      }
      #west  .moveflag-five {
        position: absolute;         
        top:72%;
        left: 63%;
      }
      #west .moveflag-six {
        position: absolute;
        top:76%;
        left: 74%;
      }
      #west .moveflag-seven {
        position: absolute;
        top:63%;
        left: 86%;
      }
      #west .moveflag-eight {
        position: absolute;
        top:10%;
        left: 24%;
      }
      #west  .moveflag-nine {
        position: absolute;
        top:36%;
        left: 19%;
      }
      #west  .moveflag-ten {
        position: absolute;
        top:47%;
        left: 9%;
      }
      #west  .moveflag-eleven {
        position: absolute;
        top:54%;
        left: 25%;
      }

    
