/*渝东南区样式*/
/*内容*/ 
#north .content .con-top{
background-image: url(../image/northeast/bg_yudongbei@2x.png);
background-size:100% 100%;
background-repeat: no-repeat;
}
#north .con-top .con-top-left{         
flex:1;
height:100%;
}
#north .con-top .con-top-center{
flex:2;
height:100%;
margin: 0 0.2rem;
}
#north .con-top .con-top-right{
flex:1;
height:100%;       
}
#north .con-top-left div{
width:100%;
}
#north .con-top-left .upper{          
background: url(../image/northeast/bg_leftupper_yd2@2x.png);
background-size:100% 100%;
background-repeat: no-repeat;
margin-top:0.5rem;
margin-bottom:0.1rem;
margin-left:1.2rem;
height: 60%;
width:3.5rem;
}
#north .con-top-left .lower{
background: url(../image/northeast/bg_leftlower_yd@2x.png);
background-size:100% 100%;
background-repeat: no-repeat;
height: 24%;
width: 40%;
margin-left: 0.4rem;
position: relative;
padding: 0.2rem;
position: relative;

}  
#north .lower .main-title-text{
position: absolute;
top: 0;
left: 0.1rem;
}

#north .lower .map-bg{
width: 100%;
height: 100%;
background: url(../image/home/img_map_other4@2x.png);
background-size:100% 100%;
background-repeat: no-repeat;     
position: relative;          
}  
/*闪烁地图*/
#north .lower .imgjump{        
width: 69%;
height: 66%;
position: absolute;
top: 0;
left: 31%;
}

#north .con-top-center .mapmsgbg{
position: relative;
height: calc(100% - 1rem);
margin:0.5rem 0rem;
background-image: url(../image/northeast/map_yudongbei@2x.png);
background-size:100% 100%;
background-repeat: no-repeat;
}

#north .con-top-right .right-bg{
background: url(../image/northeast/bg_right_yd@2x.png);
background-size:100% 100%;
background-repeat: no-repeat;
height: calc(100% - 1rem);
margin:0.5rem 0.8rem 0.5rem 0;         
}
#north .con-top-right .right-bg div{
padding: 0.2rem 0.4rem 0 0.4rem;
color:#fff;
}
/*左边框复制一份*/
#north .con-top-left .upper div{
padding: 0.2rem 0.4rem 0 0.4rem;
color:#fff;
}

/*地图标的*/
#north .mapmsgbg{
line-height: 0.1rem;
position: relative;
}
#north .mapmsgbg span{
font-size: 0.16rem;
color: #00F1FD;
position: absolute;
top: 0.26rem;
left: -0.3rem;
width: 0.8rem;
text-align: center;
}
/*单独定位*/

#north .mapmsgbg p{
position: relative;
width:0.18rem;
height: 0.18rem;
background:#00F1FD;             
border-radius: 50%;
}
#north .mapmsgbg p i{
font-style: normal;
position: absolute;
top: 50%;
left: 50%;
margin-top:-0.07rem;
margin-left:-0.07rem;
width:0.1rem;
height: 0.1rem;        
background:#F8E71C;     
border-radius: 50%;
}
/*标的颜色*/
#north .flagone i {
border: 0.02rem solid  #484491;
}          
#north .mapmsgbg .flagone{
position: absolute;
top: 50%;
left: 50%;
}

/*降落flag定位*/
#north .mapmsgbg div img{
  width:0.2rem;
  position: absolute;
  top: -0.4rem;
}
#north .mapmsgbg .moveflag-one {
  position: absolute;
  top:25%;
  left: 75%;
}
#north .moveflag-two {
  position: absolute;
  top:41%;
  left: 90%;
}
#north .moveflag-three {
  position: absolute;
  top:47%;
  left: 75%;
}
#north .moveflag-four {
  position: absolute;
  top:43%;
  left: 59%;
}
#north .moveflag-five {
  position: absolute;
  top:55%;
  left: 46%;
}
#north .moveflag-six {
  position: absolute;
  top:69%;
  left: 32%;
}
#north .moveflag-seven {
  position: absolute;
  top:86%;
  left: 29%;
}
#north .moveflag-eight {
  position: absolute;
  top:35%;
  left: 44%;
}
#north .moveflag-nine {
  position: absolute;
  top:57%;
  left: 24%;
}
#north .moveflag-ten {
  position: absolute;
  top:72%;
  left: 17%;
}
#north .moveflag-eleven {
  position: absolute;
  top:82%;
  left: 7%;
}
#north .moveflag-twelve {
  position: absolute;
  top:13%;
  left: 56%;
}


